[Unit]
Description=Shadowsocks over Cloak local SOCKS client
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__SSCLOAK_USER__
WorkingDirectory=__SSCLOAK_DIR__
EnvironmentFile=__SSCLOAK_DIR__/runtime.env
ExecStartPre=/bin/rm -f /tmp/ck-client-sscloak-8443.pid /tmp/ss-local-sscloak-8443.pid
ExecStart=__SSCLOAK_DIR__/local-start.sh
ExecStop=__SSCLOAK_DIR__/local-stop.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
